.HeaderComponent {
  height: $headerHeight;
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 5rem;

  // button:hover,
  // button:focus {
  //   background: yellow;
  //   color: black;
  // }
}
